body{
  background: rgb(184,255,233);
  background: linear-gradient(90deg, rgba(184,255,233,1) 21%, rgba(238,247,173,1) 51%, rgba(162,250,139,1) 100%);
}

h1{
  text-align: center;
}

.calculator{
  width: 300px;
  border-radius: 10px;
  border: 1px solid rgb(160, 160, 160);
  text-align: center;
  margin: auto;
  padding: 20px;
  background-color: black;
}

#text-display{
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 85%;
  height: 50px;
  font-size: 30px;
  text-align: right;
  background-color: rgb(209, 209, 209);
  color: black;
  border-radius: 10px;
}

.row{
  margin: 1rem 0;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.row button{
  font-size: 25px;
  width: 55px;
  border: none;
  border-radius: 50%;
  padding: 10px 5px;
}

.operator{
  background-color: rgb(233, 159, 0);
  color: white;
}

.operator:hover{
  background-color: rgb(171, 117, 0);
  transition: all 0.3s;
}

.number{
  background-color: rgb(54, 54, 54);
  color:white ;
}

.number:hover{
  background-color: rgb(114, 114, 114);
  transition:  all 0.3s;
}

.function{
  background-color: rgb(200, 200, 200);
  color: black;
}

.function:hover{
  background-color: rgb(236, 236, 236);
  transition:  all 0.3s;
}